<section class=" pb-10">
  <!-- Banner -->
  <article class="px-16">
    <img src="/public/assets/home-banner.jpg" alt="Banner">
  </article>
  
  <!-- Info -->
  <article class="px-16 py-14 text-center">
    <div class="mb-5">
      <p>Cada mes, podemos elaborar alrededor de 1200 artículos con cuidado, y nos lleva 3 semanas preparar la ropa de verano. <br> ¡Ahora es el momento perfecto para hacer tus pedidos!</p>
    </div>
    <div class="pb-4">
      <p class="text-xl">Explora nuestra oferta:</p>
    </div>
    <div>
      <h3 class="text-3xl">35% de descuento para los próximos 500 artículos</h3>
    </div>
    <div class="pt-2">
    <p>20% de descuento en los últimos 500 artículos</p>
    </div>
    <div class="pt-8">
      <button class="bg-[#544844] p-2 text-white w-40">Comprar ahora</button>
    </div>
  </article>

<!-- Pictures sections -->
<article class="flex gap-6 pb-14 px-16">
  <div class="relative flex items-center justify-center">
    <img src="/public/assets/home-baby.jpg" alt="Collection Baby">
    <p class="absolute text-white font-semibold text-xl">Baby</p>
  </div>
  <div class="relative flex items-center justify-center">
    <img src="/public/assets/home-children.jpg" alt="Collection Children">
    <p class="absolute text-white font-semibold text-xl">Children</p>
  </div>
  <div class="relative flex items-center justify-center">
    <img src="/public/assets/home-adult.jpg" alt="Collection Adult">
    <p class="absolute text-white font-semibold text-xl">Adults</p>
  </div>
  <div class="relative flex items-center justify-center">
    <img src="/public/assets/home-collection.jpg" alt="Collection Collection">
    <p class="absolute text-white font-semibold text-xl">Home</p>
  </div>
</article>

<!-- Info pictures -->
<article class="px-16 py-16 bg-[#F9F7F4]">
  <div class="pb-16 text-center ">
    <div>
      <p class="text-2xl">PRODUCCIÓN CONSCIENTE</p>
    </div>
    <div class="pt-1">
      <p class="text-2xl ">Hechos a mano y por encargo, evitamos los períodos de ventas habituales <br> para ofrecerle piezas cuidadosamente diseñadas que se adaptan <br> a sus necesidades y no simplemente persiguen tendencias.</p>
    </div>
  </div>

  <div class="flex gap-6 pt-8">
    <div>
      <img src="/public/assets/home-kid-pose.jpg" alt="Kid">
      <div class="pt-2">
        <p>Shirt Lenny</p>
        <p>Desde $59 PEN</p>
      </div>
    </div>
    <div>
      <img src="/public/assets/home-kid-run.jpg" alt="Kid run">
      <div class="pt-2">
        <p>Shorts Isla</p>
        <p>Desde $89 PEN</p>
      </div>
    </div>
    <div>
      <img src="/public/assets/home-woman-pose.jpg" alt="Woman pose">
      <div class="pt-2">
        <p>Sleeveless Dress Astrid</p>
        <p>Desde $139 PEN</p>
      </div>
    </div>
    <div>
      <img src="/public/assets/home-man-pose.jpg" alt="Men Pose">
      <div class="pt-2">
        <p>Sun Hat Terry</p>
        <p>Desde $69 PEN</p>
      </div>
    </div>
  </div>
</article>

<article>
   <div class="py-16 text-center ">
    <div>
      <p class="text-2xl">Fundada y dirigida por familia</p>
    </div>
    <div class="pt-2">
      <p class="text-2xl ">Somos Olivia, Lucy, Alice, Justina y Matthieu, una familia que inicialmente <br> no tenía ninguna conexión con la ropa, la moda o cosas similares, <br> pero que finalmente nos encontramos dirigiendo una <br> marca de ropa hecha a mano y por encargo en Lituania.</p>
    </div>
  </div>
</article>

   <article>
    <img src="/public/assets/banner-kids.jpg" alt="Banner">
  </article>

  <article class="px-16 py-16 ">
    <div class="py-16 text-center ">
     <div>
       <p class="text-2xl">Nuestra especialidad</p>
     </div>
     <div class="pt-2">
       <p class="text-2xl ">Todos nuestros bordados están hechos íntegramente a mano, <br> con mucho amor y mimo. Cada pieza es única, incluso utilizando el mismo patrón. <br> Pero todos ellos son igualmente hermosos.
     </div>
   </div>

     <div class="flex gap-6 pt-8">
    <div>
      <img src="/public/assets/kid-shirt-1.jpg" alt="Kid">
      <div class="pt-2">
        <p>Bear with Balloon (2.9×5.5cm)</p>
        <p>$39 PEN</p>
      </div>
    </div>
    <div>
      <img src="/public/assets/kid-shirt-2.jpg" alt="Kid run">
      <div class="pt-2">
        <p>Fox with Guitar (3.7×3.6cm)</p>
        <p>$39 PEN</p>
      </div>
    </div>
    <div>
      <img src="/public/assets/kid-shirt-3.jpg" alt="Woman pose">
      <div class="pt-2">
        <p>Hare with Drums (3.5×3.9cm)</p>
        <p>$39 PEN</p>
      </div>
    </div>
    <div>
      <img src="/public/assets/kid-shirt-4.jpg" alt="Men Pose">
      <div class="pt-2">
        <p>Mouse with Mushroom (3.9×3.8cm)</p>
        <p>$39 PEN</p>
      </div>
    </div>
  </div>
  </article>

  <article class="px-16 py-14 bg-[#F9F7F4]">
  <p class="text-center text-2xl font-thin">En la prensa</p>
    <div class="flex items-center gap-10">
      <div class=" w-full">
        <img class="h-40" src="/public/assets/milk.png" alt="Milk">
      </div>
      <div class=" w-full">
        <img class="h-40" src="/public/assets/luna.png" alt="Luna">
      </div>
      <div class=" w-full">
        <img class="h-40" src="/public/assets/vogue.png" alt="Vogue">
      </div>
      <div class=" w-full">
        <img class="h-40" src="/public/assets/elle.png" alt="Elle">
      </div>
      <div class=" w-full">
        <img class="h-40" src="/public/assets/les-littles.png" alt="Littes">
      </div>
      <div class=" w-full">
        <img class="h-40" src="/public/assets/mollie-1.png" alt="Mollie">
      </div>
    </div>
  </article>
</section>